@use '../../utils' as *;
@use './wooExtends' as *;

.tp-woo-order{
    &-payment{
        &-msg{
            & p{
                border-top: 4px solid var(--tp-theme-primary);
                background-color: rgba($color: $theme-primary, $alpha: .1);
                padding: 14px 26px;
                margin: 0;
                margin-bottom: 14px;
                color: var(--tp-common-black);
                & a{
                    font-weight: 500;
                    color: var(--tp-theme-primary);
                    margin-right: 5px;
    
                    &:hover{
                        color: var(--tp-pink-1);
                    }
                }
            }
        }
    }
    &-customer-details{
        &-item{
            padding: 40px 40px;
        }
    }
}