@use '../../utils' as *;
@use '../../components/buttons' as *;

%woo_price{
    & .price,
    & .woocs_price_code{
        @include flexbox();
        flex-direction: row-reverse;
        justify-content: start;
        color: var(--tp-common-black);
    }
    & .price,
    & .woocs_price_code,
    & td{
        & span{
            font-weight: 500;
            font-size: 16px;
            color: var(--tp-common-black);
        }
        & del,
        & ins{
            text-decoration: none;
        }

        & del{
            margin-left: 3px;
            & span{
                font-weight: 400;
                font-size: 14px;
                text-decoration-line: line-through;
                color: var(--tp-text-1);
            }
        }
        & ins{
            & span{
                color: var(--tp-common-black);
            }
        }
    }
}

%grouped_form{
    
    & .cart.grouped_form{
        & .woocommerce-grouped-product-list.group_table{
            width: 100%;
            margin-bottom: 15px;
            & td{
                border: 1px solid #E0E2E3;
                padding: 10px 10px;

                &.woocommerce-grouped-product-list-item__label{
                    & label{
                        & a{
                            font-size: 16px;
                            color: var(--tp-common-black);

                            &:hover{
                                color: var(--tp-theme-primary);
                            }
                        }
                    }
                }
            }
            & .tp-product-details-quantity{
                margin: 0;
            }

        }
        & .tp-btn.single_add_to_cart_button.button{
            width: 100%;
            margin-bottom: 15px;
            font-size: 16px;
            color: var(--tp-common-black);
            text-align: center;
            padding: 9px 30px;
            border: 1px solid #E0E2E3;
            display: inline-block;
            background-color: var(--tp-common-white);

            &:hover{
                background-color: var(--tp-common-black);
                border-color: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }
    }

}

%woo_linked_product_btn{
    .single_add_to_cart_button.product-add-cart-btn.button {
        font-size: 16px;
        color: var(--tp-common-black);
        text-align: center;
        padding: 9px 30px;
        border: 1px solid #E0E2E3;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        &:hover{
            background-color: var(--tp-common-black);
            border-color: var(--tp-common-black);
            color: var(--tp-common-white);
        }

        & ~ #tp_wc-adding-button{
            display: none;
        }
    }
}

// yith filter css
%tp_woo_yith_filter{
    .yith-wcan-filters{
        & .yith-wcan-filter{
            margin-bottom: 0;
            padding-bottom: 30px;
            & .filter-title{
                font-weight: 500;
                font-size: 18px;
                border-bottom: 1px solid #EEEEEE;
                padding-bottom: 5px;
                margin-bottom: 25px;
    
            }
    
            & .filter-content{
                margin-top: 25px;
            }
    
            &.checkbox-design{
                & .term-label{
                    font-size: 16px;
                    color: #55585B;
                    position: relative;
                    padding-left: 26px;
    
    
                    &::after,
                    &::before{
                        position: absolute;
                        content: "";
                        top: 4px;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        border: 2px solid #DADADA;
                        @include tp-transition(all, .1s);
                    }
    
                    &::before{
                        content: "\f00c";
                        font-family: var(--tp-ff-fontawesome);
                        color: transparent;
                        z-index: 1;
                        border: 0;
                        width: inherit;
                        height: inherit;
                        top: 7px;
                        left: 4px;
                        font-size: 10px;
                        line-height: 1;
                    }
                }
    
                & .filter-item{
                    & > label{
                        & > a{
                            color: var(--tp-text-1);
                            &:hover{
                                color: var(--tp-common-black);
                            }
                        }
                    }
                    &.active{
                        & > label{
                            & a{
                                color: var(--tp-common-black);
                            }
                        }
                    }
                    &.checkbox{
                        & input{
                            display: none;
    
                            &:checked ~ .term-label{
                                &::before{
                                    color: var(--tp-common-white);
                                }
                                &::after{
                                    background-color: var(--tp-theme-primary);
                                    border-color: var(--tp-theme-primary);
                                }
                            }
                        }
                        
                    }
    
                }
                
            }
    
    
            & .filter-items{
                &.filter-color{
                    margin: 0;
                }
                & .filter-item{
                    &.active{
                        &.color{
                            &:not(.no-color):not(.no-image):not(.label-right){
                                & > a{
                                    &::after{
                                        content: '\f00c';
                                        right: auto;
                                        top: 48%;
                                        left: 4px;
                                        @include transform(translateY(-50%));
                                        font-family: var(--tp-ff-fontawesome);
                                        background-image: none;
                                        background-color: transparent;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    &.color{
                        display: block;
                        height: inherit;
                        width: inherit;
                        margin: inherit;
                        margin-bottom: 5px;
    
                        & .term-color{
                            border: 0;
                            width: 22px;
                            height: 22px;
                            @include transform(translateY(-1px));
                        }
    
                        & .term-label{
                            display: inline-block;
                            font-weight: 400;
                            font-size: 14px;
                            color: var(--tp-text-1);
                            position: relative;
                            margin-left: 3px;
                            @include transform(translateY(-2px));
                        }
                    }
                }
            }
        }
    
    }
    
    .yith-wcan-reset-navigation.button{
        font-size: 16px;
        color: var(--tp-common-black);
        text-align: center;
        padding: 9px 30px;
        border: 1px solid #E0E2E3;
    
        &:hover{
            background-color: var(--tp-common-black);
            border-color: var(--tp-common-black);
            color: var(--tp-common-white);
        }
    }
    
    .tp-shop-widget.widget_yith-woocommerce-ajax-navigation-filters,
    .yith-wcan-filters{
        margin-bottom: 0 !important;
       
    }
    
    .yith-wcan-filter.filter-tax.text-design{
        & .filter-content{
            & .filter-items.filter-text{
                @include flexbox();
                align-items: center;
                flex-wrap: wrap;
                & .filter-item.text{
                    margin-bottom: 10px;
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    & .term-label{
                        display: inline-block;
                        padding: 9px 13px;
                        border: 1px solid #DADADA;
                        line-height: 1;
                        &:hover{
                            color: var(--tp-theme-primary);
                        }
                    }
    
                    &.active{
                        & .term-label{
                            background-color: var(--tp-theme-primary);
                            border-color: var(--tp-theme-primary);
                            color: var(--tp-common-white);
                        }
                    }
                }
            }
        }
    }
}


%tp_woo_select2{
    .select2-container .select2-selection--single {
        height: auto;
        line-height: 1.1;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: var(--tp-common-black);
        line-height: 1.1;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 19px 26px;
        text-align: left;
        white-space: initial;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 50%;
        right: 11px;
        @include transform(translateY(-50%));
    }
    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #E0E2E3;
        border-radius: 0;
    }
    .select2-selection .select2-selection--single[aria-expanded="true"]{
        border-color: var(--tp-common-black);
    }

}

%tp_woo_input_field{
    & label{
        font-weight: 500;
        color: var(--tp-common-black);
        text-transform: capitalize;
        & .required{
            color: red;
        }

        & .optional{
            color: gray;
        }
    }
    & input[type]:not([type="checkbox"], [type="radio"]),
    & textarea{
        width: 100%;
        background: #FFFFFF;
        outline: 0;
        box-shadow: none;
        border: 1px solid #D5D8DB;
        color: var(--tp-common-black);
        height: 50px;
        line-height: 56px;
        border-radius: 0;
        &:focus{
            border-color: var(--tp-common-black);
        }
    }

    @include rtl{
		 input[type],
         textarea{
            text-align: right;
         }
	}

    & textarea{
        line-height: 1.3;
        height: 200px;
        resize: none;
    }

    & fieldset{
        margin-top: 50px;
        & legend{
            font-weight: 500;
            margin-bottom: 15px;
            color: var(--tp-common-black);
        }
    }
}

%tp_woo_input_checkbox{
    & label{
        font-size: 15px;
        color: #55585B;
        position: relative;
        padding-left: 26px;
        z-index: 1;

        & span{
            @include tp-transition(color, .3s);
            &::after,
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                line-height: 16px;
                text-align: center;
                border: 1px solid #C3C7C9;
                z-index: -1;
                @include tp-transition(all, .2s);
            }
            &::before{
                content: url('../img/product/icons/check.svg');
                visibility: hidden;
                opacity: 0;
                z-index: 1;
                border: 0;
                color: var(--tp-common-white);
            }

            &.active{
                &::after{
                    background-color: var(--tp-theme-primary);
                    border-color: var(--tp-theme-primary);
                }
                &::before{
                    visibility: visible;
                    opacity: 1;
                }
            }
            
            &:hover{
                color: var(--tp-theme-primary);
                cursor: pointer;
            }
        }
    
        & input{
            display: none;
        }
    }
}

%tp_woo_input_radio{
    & input{
        display: none;

        &:checked{
            & + label{
                &::after{
                    border-color: var(--tp-theme-primary);
                }
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    
    & label{
        font-weight: 400;
        font-size: 14px;
        color: #161C2D;
        position: relative;
        padding-left: 25px;
        &:hover{
            cursor: pointer;
        }
        & span{
            color: var(--tp-theme-primary);
        }

        &::after{
            position: absolute;
            content: '';
            left: 0;
            top: 5px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #BCBCBC;
            @extend %tp-transition;
        }
        &::before{
            position: absolute;
            content: '';
            left: 4px;
            top: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--tp-theme-primary);
            visibility: hidden;
            opacity: 0;
            @extend %tp-transition;
        }
    }
}