/* transform */
/*
    RTL CSS Started
*/
[dir=rtl] {
  /* home electronics */
  /*
      home fashion
  */
  /*
      Home Beauty
  */
  /*
      Home Jewellery
  */
  /*
      Home Grocery
  */
  /*
      About Page
  */
  /*
      Blog Page
  */
  /*
      Cart Page
  */
  /*
      Contact Page
  */
  /*
      Coupon Page
  */
}
[dir=rtl] .tpwvs-tooltip:not(:last-child) {
  margin-left: 4px;
  margin-right: 0;
}
[dir=rtl] .tp-header-welcome span {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-header-top-menu-item {
  padding: 3px 18px 4px 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 0;
}
[dir=rtl] .tp-header-top-menu-item > span {
  padding-right: 0;
  padding-left: 20px;
}
[dir=rtl] .tp-header-top-menu-item > span::after {
  margin-left: 0;
  margin-right: 7px;
}
[dir=rtl] .tp-header-search-wrapper {
  margin-left: 0;
  margin-right: 10px;
}
[dir=rtl] .tp-header-search-btn {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-header-search-category .nice-select {
  padding-right: 20px;
  padding-left: 20px;
}
[dir=rtl] .tp-header-search-category .nice-select::after {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-header-search-category::after {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-header-login-icon span {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-header-action.ml-50 {
  margin-left: 0;
  margin-right: 50px;
}
[dir=rtl] .tp-header-action-item:not(:first-child) {
  margin-left: 0;
  margin-right: 20px;
}
[dir=rtl] .tp-category-menu-btn {
  text-align: right;
}
[dir=rtl] .tp-category-menu-btn span {
  margin-left: 8px;
  margin-right: 0;
}
[dir=rtl] .tp-category-menu-btn::after {
  right: auto;
  left: 30px;
}
[dir=rtl] .tp-category-menu nav ul li a span {
  margin-right: 0;
  margin-left: 5px;
}
[dir=rtl] .tp-category-menu nav ul li.has-dropdown > a:not(.mega-menu-title)::after {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-category-menu nav ul li .mega-menu {
  left: auto;
  right: 100%;
  padding-right: 0;
  padding-left: 5px;
  top: 0%;
}
[dir=rtl] .tp-category-menu nav ul li .tp-submenu {
  left: auto;
  right: 110%;
  top: 0%;
}
[dir=rtl] .tp-category-menu nav ul li:hover > .tp-submenu {
  left: auto;
  right: 100%;
}
[dir=rtl] .main-menu.menu-style-1 > nav > ul > li:not(:last-child) {
  margin-right: 0;
  margin-left: 25px;
}
[dir=rtl] .main-menu > nav > ul > li.has-dropdown > a::after {
  margin-left: 0;
  margin-right: 5px;
}
[dir=rtl] .tp-header-contact-icon span {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-feature-icon.mr-15 {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-feature-border-radius .row [class*=col-]:first-child .tp-feature-item {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
[dir=rtl] .tp-feature-border-radius .row [class*=col-]:last-child .tp-feature-item {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
[dir=rtl] .tp-section-title svg {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-product-tab .nav-tabs .nav-item:not(:last-child) {
  margin-right: 0;
  margin-left: 47px;
}
[dir=rtl] .tp-product-tab .nav-tabs {
  padding-left: 0;
  padding-right: 50px;
}
[dir=rtl] .tp-product-tab-border::after {
  left: auto;
  right: -80px;
}
[dir=rtl] .tp-product-rating-icon {
  margin-right: 0;
  margin-left: 6px;
}
[dir=rtl] .tp-product-offer-more {
  padding-left: 0;
  padding-right: 50px;
}
[dir=rtl] .tp-product-offer-more-border {
  right: auto;
  left: 210px;
}
[dir=rtl] .tp-product-gadget-categories-title::after {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-product-gadget-thumb {
  z-index: -1;
}
[dir=rtl] .tp-product-gadget-banner-slider-dot.tp-swiper-dot {
  right: auto;
  left: 20px;
}
[dir=rtl] .tp-product-banner-slider-dot.tp-swiper-dot {
  right: auto;
  left: 50px;
}
[dir=rtl] .tp-product-arrival-border {
  padding-left: 0;
  padding-right: 50px;
}
[dir=rtl] .tp-product-arrival-border::after {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-product-sm-item .tp-product-thumb {
  margin-left: 25px;
  margin-right: 0;
}
[dir=rtl] .tp-product-sm-wrapper.mr-20 {
  margin-right: 0;
  margin-left: 20px;
}
[dir=rtl] .tp-blog-more {
  padding-left: 0;
  padding-right: 50px;
}
[dir=rtl] .tp-blog-more-border {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-footer-contact-icon span {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-footer-widget-content ul li a {
  padding-left: 0;
  padding-right: 10px;
}
[dir=rtl] .tp-footer-widget-content ul li a::after {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-product-add-cart-btn-large svg,
[dir=rtl] .tp-product-add-cart-btn-large i {
  margin-right: 0;
  margin-left: 5px;
}
[dir=rtl] .offcanvas__close {
  left: 20px;
  right: auto;
}
[dir=rtl] .tp-offcanvas-category-toggle {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
[dir=rtl] .tp-main-menu-mobile ul li.has-dropdown > a .dropdown-toggle-btn {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-main-menu-mobile ul li ul li a {
  padding-left: 20px;
  padding-right: 0;
}
[dir=rtl] .offcanvas__lang-img.mr-15 {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .offcanvas__lang-selected-lang,
[dir=rtl] .offcanvas__lang-selected-currency,
[dir=rtl] .offcanvas__currency-selected-lang,
[dir=rtl] .offcanvas__currency-selected-currency {
  padding-right: 0;
  padding-left: 20px;
}
[dir=rtl] .offcanvas__lang-selected-lang::after,
[dir=rtl] .offcanvas__lang-selected-currency::after,
[dir=rtl] .offcanvas__currency-selected-lang::after,
[dir=rtl] .offcanvas__currency-selected-currency::after {
  right: auto;
  left: -20px;
}
[dir=rtl] .offcanvas__lang-list,
[dir=rtl] .offcanvas__currency-list {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-category-mobile-menu ul li.has-dropdown > a .dropdown-toggle-btn {
  right: auto;
  left: 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  [dir=rtl] .tp-header-search-box {
    width: 52%;
  }
  [dir=rtl] .tp-header-action {
    margin-right: 25px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .main-menu.menu-style-1 {
    padding-left: 0;
    margin-right: 0px;
    margin-left: -40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [dir=rtl] .tp-category-menu nav ul li .mega-menu {
    min-width: 700px;
  }
  [dir=rtl] .tp-product-offer-more-border {
    right: auto;
    left: 0;
  }
  [dir=rtl] .tp-product-offer-more-border {
    right: auto;
    left: 210px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .tp-product-offer-more-border {
    right: auto;
    left: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  [dir=rtl] .tp-product-tab .nav-tabs {
    padding-left: 50px;
    padding-right: 0;
  }
}
@media (max-width: 575px) {
  [dir=rtl] .tp-product-arrival-border {
    text-align: right !important;
    padding-right: 0;
  }
  [dir=rtl] .tp-blog-more {
    padding-left: 50px;
    padding-right: 0;
  }
  [dir=rtl] .tp-product-arrival-more-wrapper.d-flex.justify-content-end {
    justify-content: start !important;
  }
}
[dir=rtl] .tp-header-top-2 .tp-header-top-black .tp-header-top-menu-item:not(:last-child) {
  padding-right: 0;
  margin-right: 0;
  padding-left: 15px;
  margin-left: 17px;
}
[dir=rtl] .tp-header-top-2 .tp-header-top-menu-item {
  padding-left: 0;
}
[dir=rtl] .tp-header-top-2 .tp-header-top-black .tp-header-top-menu-item:not(:last-child)::after {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-header-top-2 .tp-header-top-black .tp-header-top-menu-item > span {
  padding-left: 20px;
}
[dir=rtl] .tp-header-top-2 .tp-header-info-item:not(:last-child) {
  padding-right: 0;
  margin-right: 0;
  padding-left: 20px;
  margin-left: 20px;
}
[dir=rtl] .tp-header-top-2 .tp-header-info-item a span {
  margin-right: 0;
  margin-left: 5px;
}
[dir=rtl] .tp-header-top-2 .tp-header-info-item:not(:last-child)::after {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-header-bottom-2 .tp-header-action-item {
  margin-left: 20px;
  margin-right: 0;
}
[dir=rtl] .tp-header-bottom-2 .tp-header-action-item:nth-child(3) {
  margin-left: 0 !important;
  margin-right: 0;
}
[dir=rtl] .tp-header-bottom-2 .tp-header-bottom-right-inner {
  padding-left: 0;
  padding-right: 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .tp-header-bottom-2 .tp-header-action-item {
    margin-left: 0;
    margin-right: 20px !important;
  }
  [dir=rtl] .tp-header-bottom-2 .tp-header-action-item:nth-child(3) {
    margin-left: 0 !important;
    margin-right: 20px;
  }
}
@media (max-width: 575px) {
  [dir=rtl] .tp-header-bottom-2 .tp-header-action-item {
    margin-left: 0;
    margin-right: 15px !important;
  }
}
[dir=rtl] .tp-header-bottom-2 .tp-header-action.d-flex.align-items-center.ml-30 {
  margin-left: 0;
  margin-right: 40px;
}
[dir=rtl] .tp-header-bottom-2 .tp-header-bottom-right.d-flex.align-items-center.justify-content-end.pl-30 {
  padding-left: 0;
  padding-right: 30px;
  justify-content: flex-start !important;
}
[dir=rtl] .tp-slider-2-dot.tp-swiper-dot {
  right: auto;
  left: 50px;
}
[dir=rtl] .tp-product-tab-2 .nav-tabs .nav-link:not(:first-child) {
  margin-left: 0;
  margin-right: 28px;
}
[dir=rtl] .tp-product-tab-2 .nav-tabs .nav-link:not(:first-child)::after {
  left: auto;
  right: -17px;
}
[dir=rtl] .tp-trending-banner-content {
  left: auto;
  right: 35px;
}
[dir=rtl] .tp-testimonial-avater.mr-10 {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-testimonial-user {
  padding-right: 10px;
  padding-left: 27px;
}
[dir=rtl] .tp-feature-border-2 .row [class*=col-] .tp-feature-item-2::after {
  right: auto;
  left: 14px;
}
[dir=rtl] .tp-feature-icon-2.mr-10 {
  margin-right: 0;
  margin-left: 10px;
}
@media (max-width: 575px) {
  [dir=rtl] .tp-slider-2-dot.tp-swiper-dot {
    right: auto;
    left: 15px;
  }
}
[dir=rtl] .tp-slider-feature-icon-3 span {
  margin-right: 0;
  margin-left: 14px;
}
[dir=rtl] .tp-slider-feature-item-3:not(:last-child) {
  margin-right: 0;
  padding-right: 0;
  margin-left: 28px;
  padding-left: 30px;
}
[dir=rtl] .tp-slider-feature-item-3:not(:last-child)::after {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-special-hotspot-content {
  -webkit-transform: translate(37%, 60px);
  -moz-transform: translate(37%, 60px);
  -ms-transform: translate(37%, 60px);
  -o-transform: translate(37%, 60px);
  transform: translate(37%, 60px);
}
[dir=rtl] .tp-special-hotspot-item:hover .tp-special-hotspot-content {
  -webkit-transform: translate(37%, 55px);
  -moz-transform: translate(37%, 55px);
  -ms-transform: translate(37%, 55px);
  -o-transform: translate(37%, 55px);
  transform: translate(37%, 55px);
}
[dir=rtl] .tp-testimonial-avater-3.mr-10 {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-collection-countdown .tp-product-countdown ul li:not(:last-child)::after {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-search-input input {
  padding-right: 57px !important;
}
[dir=rtl] .tp-collection-countdown .tp-product-countdown ul li:not(:last-child) {
  padding-right: 0;
  margin-right: 0;
  padding-left: 17px;
  margin-left: 9px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .tp-header-style-transparent-white .tp-header-action-item:last-child {
    margin-right: 20px;
  }
}
[dir=rtl] .tp-slider-nav-icon span {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-slider-arrow-4 button {
  right: auto;
  left: 225px;
}
[dir=rtl] .tp-slider-arrow-4 button.tp-slider-3-button-next {
  right: auto;
  left: 170px;
}
[dir=rtl] .tp-slider-video {
  left: 5%;
  right: auto;
}
[dir=rtl] .tp-slider-play {
  left: 20.5%;
  right: auto;
}
[dir=rtl] .tp-feature-border-3 .tp-feature-item-2:not(:last-child)::after {
  left: -42%;
  right: auto;
}
[dir=rtl] .tp-about-thumb-2 {
  left: -65px;
  right: auto;
}
[dir=rtl] .tp-about-thumb-wrapper.p-relative.mr-35 {
  margin-right: 0;
  margin-left: 35px;
}
[dir=rtl] .tp-about-wrapper {
  padding-left: 60px;
  padding-right: 80px;
}
[dir=rtl] .tp-product-add-to-cart-4 {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-collection-hotspot-content {
  -webkit-transform: translate(37%, 60px);
  -moz-transform: translate(37%, 60px);
  -ms-transform: translate(37%, 60px);
  -o-transform: translate(37%, 60px);
  transform: translate(37%, 60px);
}
[dir=rtl] .tp-collection-hotspot-item:hover .tp-collection-hotspot-content {
  -webkit-transform: translate(37%, 55px);
  -moz-transform: translate(37%, 55px);
  -ms-transform: translate(37%, 55px);
  -o-transform: translate(37%, 55px);
  transform: translate(37%, 55px);
}
[dir=rtl] .tp-collection-hotspot-content.on-top {
  -webkit-transform: translate(37%, -120%);
  -moz-transform: translate(37%, -120%);
  -ms-transform: translate(37%, -120%);
  -o-transform: translate(37%, -120%);
  transform: translate(37%, -120%);
}
[dir=rtl] .tp-collection-hotspot-item:hover .tp-collection-hotspot-content.on-top {
  -webkit-transform: translate(37%, -110%);
  -moz-transform: translate(37%, -110%);
  -ms-transform: translate(37%, -110%);
  -o-transform: translate(37%, -110%);
  transform: translate(37%, -110%);
}
[dir=rtl] .tp-best-add-to-cart-btn {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-footer-subscribe-input input {
  padding-right: 155px;
}
[dir=rtl] .tp-header-hamburger-5.mr-15 {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-header-search-input-5 input {
  padding-left: 130;
  padding-right: 52px;
}
[dir=rtl] .tp-header-search-input-5 span {
  left: auto;
  right: 27px;
}
[dir=rtl] .tp-header-search-input-box-5 button {
  right: auto;
  left: -1px;
  border-radius: 30px 0 0 30px;
}
[dir=rtl] .tp-header-side-menu {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-header-side-menu ul li a i {
  margin-right: 0;
  margin-left: 13px;
}
[dir=rtl] .tp-header-side-menu ul li.has-dropdown > a::after {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-header-side-menu ul li .mega-menu {
  left: auto;
  right: 100%;
}
[dir=rtl] .tp-header-side-menu ul li .mega-menu .mega-menu-list ul {
  padding-left: 0;
  padding-right: 34px;
}
[dir=rtl] .tp-header-side-menu ul li .mega-menu .menu-shop-thumb img {
  margin-left: 17px;
  margin-right: 0;
}
[dir=rtl] .tp-header-login-icon-5 span {
  margin-right: 0;
  margin-left: 9px;
}
[dir=rtl] .tp-header-action-5 {
  margin-left: 0;
  margin-right: 20px;
}
[dir=rtl] .tp-header-action-item-5:not(:last-child) {
  margin-right: 0;
  margin-left: 22px;
}
[dir=rtl] .tp-header-action-item-5 {
  margin-right: auto;
  margin-left: 8px;
}
[dir=rtl] .cartmini__close {
  right: auto;
  left: 0;
}
[dir=rtl] .cartmini__del {
  right: auto;
  left: 0;
}
[dir=rtl] .cartmini__thumb {
  margin-left: 15px;
  margin-right: 0;
}
[dir=rtl] .cartmini__content {
  padding-right: 0;
  padding-left: 15px;
}
[dir=rtl] .cartmini__checkout-title span {
  float: left;
}
[dir=rtl] .tp-deal-countdown .tp-product-countdown-inner ul li:not(:last-child) {
  margin-right: 0;
  margin-left: 13px;
}
[dir=rtl] .tp-deal-countdown .tp-product-countdown-inner ul li:not(:last-child)::after, [dir=rtl] .tp-deal-countdown .tp-product-countdown-inner ul li:not(:last-child)::before {
  right: auto;
  left: -10px;
}
[dir=rtl] .tp-product-sm-thumb-5 {
  margin-right: 0;
  margin-left: 24px;
}
[dir=rtl] .tp-product-side-banner {
  margin-right: 0;
  margin-left: 56px;
}
[dir=rtl] .tp-product-sm-item-wrapper-5.is-translate-24 {
  margin-left: 0;
  margin-right: -24px;
}
[dir=rtl] .tp-avater-rounded.mr-60 {
  margin-right: 0;
  margin-left: 60px;
}
[dir=rtl] .tp-testimonial-avater-wrapper-5 .quote-icon {
  right: auto;
  left: 54px;
}
[dir=rtl] .tp-testimonial-arrow-5 {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-testimonial-arrow-5 button:not(:last-child) {
  margin-right: 0;
  margin-left: 30px;
}
[dir=rtl] .tp-testimonial-arrow-5 button:not(:last-child)::after {
  left: -17px;
  right: auto;
}
[dir=rtl] .tp-feature-border-5 .row [class*=col-] .tp-feature-item-5::after {
  left: 14px;
  right: auto;
}
[dir=rtl] .tp-feature-icon-5 span {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-cta-thumb {
  left: 26%;
  right: auto;
}
[dir=rtl] .tp-cta-thumb-gradient {
  left: 22%;
  right: auto;
}
[dir=rtl] .app-icon.mr-10 {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .tp-app-btn:not(:last-child) {
  margin-right: 0;
  margin-left: 14px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [dir=rtl] .tp-about-wrapper {
    padding-left: 0;
  }
  [dir=rtl] .tp-about-wrapper .tp-about-content {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .tp-about-wrapper {
    padding-right: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .tp-about-wrapper {
    padding: 0;
  }
  [dir=rtl] .tp-about-thumb-2 {
    left: 0;
    right: auto;
  }
  [dir=rtl] .tp-product-sm-item-wrapper-5.is-translate-24 {
    margin-left: 0;
    margin-right: 0;
  }
  [dir=rtl] .tp-cta-thumb {
    left: -14%;
    right: auto;
  }
}
[dir=rtl] .tp-counter-icon.mr-15 {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-history-wrapper {
  padding-left: 110px;
}
[dir=rtl] .tp-history-thumb-text {
  right: -45px;
  left: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [dir=rtl] .tp-history-wrapper {
    padding-left: 50px;
    padding-right: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .tp-history-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
[dir=rtl] .tp-postbox-details-list ul li {
  padding-left: 0;
  padding-right: 15px;
}
[dir=rtl] .tp-postbox-details-list ul li::after {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-postbox-details-navigation-icon.mr-15 {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-postbox-details-navigation-icon.ml-15 {
  margin-left: 0;
  margin-right: 15px;
}
[dir=rtl] .tp-postbox-details-author-thumb img {
  margin-left: 20px;
  margin-right: 0;
}
[dir=rtl] .tp-blog-grid-meta > span:not(:last-child) {
  padding-right: 0;
  margin-right: 0;
  padding-left: 8px;
  margin-left: 12px;
}
[dir=rtl] .tp-blog-grid-meta > span:not(:last-child)::after {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-postbox-details-comment-thumb img {
  margin-left: 17px;
  margin-right: 0;
}
[dir=rtl] .tp-postbox-details-input-title label {
  right: 20px;
  left: auto;
}
[dir=rtl] .tp-postbox-details-remeber label {
  padding-right: 26px;
  padding-left: 0;
}
[dir=rtl] .tp-postbox-details-remeber label::before {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-postbox-details-remeber label::after {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-postbox-details-meta span:not(:last-child) {
  margin-right: 0;
  padding-right: 0;
  margin-left: 13px;
  padding-left: 9px;
}
[dir=rtl] .tp-postbox-details-meta span:not(:last-child)::after {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-postbox-details-share span {
  margin-right: 0;
  margin-left: 5px;
}
[dir=rtl] .tp-sidebar-blog-thumb img {
  margin-left: 16px;
  margin-right: 0;
}
[dir=rtl] .tp-sidebar-widget ul li a {
  padding-left: 0;
  padding-right: 16px;
  display: block;
}
[dir=rtl] .tp-sidebar-widget ul li a::after {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-sidebar-widget ul li a span {
  float: left;
}
[dir=rtl] .tp-blog-grid-tab .nav-tabs .nav-link:not(:last-child) {
  margin-right: 0;
  padding-right: 0;
  margin-left: 13px;
  padding-left: 13px;
}
[dir=rtl] .tp-blog-grid-tab .nav-tabs .nav-link:not(:last-child)::after {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-pagination ul li:not(:last-child) {
  margin-right: 0;
  margin-left: 6px;
}
[dir=rtl] .tp-blog-grid-wrapper {
  margin-right: 0;
  margin-left: 64px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .tp-blog-grid-wrapper {
    margin-right: 0;
    margin-left: 0;
  }
}
[dir=rtl] .tp-postbox-meta span i,
[dir=rtl] .tp-postbox-meta span svg {
  margin-right: 0;
  margin-left: 3px;
}
[dir=rtl] .tp-postbox-meta span:not(:last-child) {
  margin-right: 0;
  margin-left: 20px;
}
[dir=rtl] blockquote cite::before {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-cart-header-product {
  padding-left: 0 !important;
  padding-right: 30px !important;
}
[dir=rtl] .tp-cart-title a {
  margin-left: 20px;
  margin-right: 20px;
}
[dir=rtl] .tp-checkout-place-title {
  margin-right: 0;
  margin-left: 37px;
}
[dir=rtl] .tp-checkout-payment-item label {
  padding-left: 0;
  padding-right: 27px;
}
[dir=rtl] .tp-checkout-payment-item label::before {
  left: auto;
  right: 3px;
}
[dir=rtl] .tp-checkout-payment-item label::after {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-checkout-payment-desc::after {
  right: 3px;
  left: auto;
}
[dir=rtl] .tp-checkout-payment-item label img {
  margin-left: 0;
  margin-right: 14px;
}
[dir=rtl] .tp-checkout-payment-item label a {
  margin-left: 0;
  margin-right: 20px;
}
[dir=rtl] .tp-contact-wrapper {
  margin-right: 0;
  margin-left: 73px;
}
[dir=rtl] .tp-contact-input-title label {
  left: auto;
  right: 20px;
}
[dir=rtl] .tp-contact-input input {
  text-align: right;
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  [dir=rtl] .tp-contact-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
[dir=rtl] .tp-coupon-thumb img {
  margin-left: 20px;
  margin-right: 0;
}
[dir=rtl] .tp-coupon-countdown ul li:first-child {
  padding-right: 0;
  padding-left: 12px;
}
[dir=rtl] .tp-coupon-countdown ul li:not(:last-child)::after {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-coupon-info-details span {
  margin-right: 7px;
  margin-left: 0;
}
[dir=rtl] .tp-coupon-info-tooltip {
  right: auto;
  left: -22px;
}
[dir=rtl] .tp-coupon-info-tooltip::after {
  left: 15px;
  right: auto;
}
[dir=rtl] .tp-coupon-item-right {
  padding-left: 0;
  padding-right: 20px;
}
[dir=rtl] .tp-coupon-border {
  left: 35%;
  right: auto;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  [dir=rtl] .tp-coupon-border {
    left: 20%;
    right: auto;
  }
  [dir=rtl] .tp-coupon-info-tooltip {
    right: -22px;
    left: auto;
  }
  [dir=rtl] .tp-coupon-info-tooltip::after {
    left: auto;
    right: 15px;
  }
}
@media (max-width: 575px) {
  [dir=rtl] .tp-coupon-border {
    left: 20%;
    right: auto;
  }
}
[dir=rtl] .tp-login-option-item:not(:last-child) {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-login-option-item.has-google a img {
  margin-right: 0;
  margin-left: 7px;
}
[dir=rtl] .tp-login-input-title label {
  left: auto;
  right: 20px;
}
[dir=rtl] .tp-login-input input {
  text-align: right;
}
[dir=rtl] .tp-login-input-eye {
  left: 26px;
  right: auto;
}
[dir=rtl] .tp-login-mail p a {
  display: inline-block;
}
[dir=rtl] .tp-cart-bottom {
  margin-left: 30px;
  margin-right: 0;
}
[dir=rtl] .tp-cart-list {
  margin-right: 0;
  margin-left: 30px;
}
[dir=rtl] .profile__notification-item .form-check-label {
  margin-right: 10px;
  margin-left: 0;
}
[dir=rtl] .profile__main-thumb img {
  margin-left: 16px;
  margin-right: 0;
}
[dir=rtl] .profile__main-thumb-edit label {
  left: 8px;
  right: auto;
}
[dir=rtl] .profile__tab .nav-tabs .nav-link span {
  margin-right: 0;
  margin-left: 7px;
}
[dir=rtl] .profile__address-icon span {
  margin-left: 20px;
  margin-right: 0;
}
[dir=rtl] .tp-profile-input-title label {
  right: 20px;
  left: auto;
}
[dir=rtl] .tp-product-details-thumb-wrapper .nav-tabs {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-product-details-stock {
  margin-right: 0;
  margin-left: 12px;
}
[dir=rtl] .tp-product-details-rating {
  margin-right: 0;
  margin-left: 11px;
}
[dir=rtl] .tp-product-details-quantity .tp-product-quantity {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-product-details-quantity {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-product-details-action-sm-btn:not(:last-child) {
  margin-right: 0;
  margin-left: 0;
}
[dir=rtl] .tp-product-details-action-sm-btn i,
[dir=rtl] .tp-product-details-action-sm-btn svg {
  margin-right: 0;
  margin-left: 2px;
}
[dir=rtl] .tp-woo-price-2 .price ins, [dir=rtl] .tp-woo-price-2 td ins {
  margin-left: 0;
  margin-right: 4px;
}
[dir=rtl] .tp-product-badge-2 {
  right: auto;
}
[dir=rtl] .tp-product-gadget-thumb {
  left: 0;
  right: auto;
}
[dir=rtl] .tp-product-details-query-item > span {
  margin-left: 6px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-msg ul li {
  padding-right: 25px;
  padding-left: 0;
}
[dir=rtl] .tp-product-details-msg ul li::after {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-product-details-tab-nav .nav-tabs .nav-link:not(:first-child) {
  margin-left: 0;
  margin-right: 40px;
}
[dir=rtl] .tp-product-details-review-input-title label {
  right: 20px;
  left: auto;
}
[dir=rtl] .tp-product-details-thumb-wrapper {
  margin-left: 20px;
  margin-right: 0;
}
[dir=rtl] .tp-subscribe-square .tp-subscribe-input input {
  text-align: right;
}
[dir=rtl] .tp-shop-top-tab {
  margin-right: 0;
  margin-left: 22px;
}
[dir=rtl] .tp-shop-top-filter {
  margin-left: 0;
  margin-right: 16px;
}
[dir=rtl] .tp-shop-sidebar {
  margin-right: 0;
  margin-left: 10px;
}
[dir=rtl] .tp-shop-widget-categories ul li a {
  padding-right: 16px;
  padding-left: 0;
}
[dir=rtl] .tp-shop-widget-categories ul li a::after {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-shop-widget-checkbox-circle label {
  padding-right: 26px;
  padding-left: 0;
}
[dir=rtl] .tp-shop-widget-checkbox-circle label::before {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-shop-widget-checkbox-circle .tp-shop-widget-checkbox-circle-self {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-shop-widget-product-thumb img {
  margin-left: 14px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-thumb-style2 .nav-tabs .nav-link:not(:last-child) {
  margin-right: 0;
  margin-left: 8px;
}
[dir=rtl] .tp-product-details-wrapper-style2 .tp-product-details-payment p {
  margin-right: 0;
  margin-left: 40px;
}
[dir=rtl] .tp-product-details-views > span {
  margin-left: 8px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-wrapper-style2 .tp-product-details-variation-title {
  margin-left: 10px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-wishlist.mb-15 {
  margin-right: 15px;
}
[dir=rtl] .main-menu > nav > ul > li > .tp-submenu li.has-dropdown > a::after {
  left: 0;
  right: auto;
  margin-left: 0;
  margin-right: 5px;
}
[dir=rtl] .tp-header-side-menu ul li .tp-submenu.tp-mega-menu {
  left: auto;
  right: 100%;
}
[dir=rtl] .tp-header-side-menu ul li .tp-submenu.tp-mega-menu .mega-menu-list ul {
  padding-left: 0;
  padding-right: 34px;
}
[dir=rtl] .tp-header-side-menu ul li .tp-submenu.tp-mega-menu .menu-shop-thumb {
  margin-right: 0;
  margin-left: 15px;
}
[dir=rtl] .tp-product-sm-section-title svg {
  right: 26px;
  left: auto;
}
[dir=rtl] .tp-contact-input textarea {
  text-align: right;
}
[dir=rtl] .tp-contact-btn-wrapper {
  text-align: right;
}
[dir=rtl] .profile__address-title {
  margin-left: 22px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-badge {
  right: 20px;
  left: auto;
}
[dir=rtl] .tp-woo-breadcrumb-icon {
  margin-left: 5px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-payment p {
  margin-left: 46px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-action-sm-btn:not(:last-child) {
  margin-right: 0;
  margin-left: 25px;
}
[dir=rtl] .tp-woo-single-review .avatar {
  margin-left: 20px;
  margin-right: 0;
}
[dir=rtl] .tp-product-details-offer {
  margin-left: 0;
  margin-right: 10px;
}
[dir=rtl] .tp-woo-cart-checkout table.shop_table.shop_table_responsive tr th {
  text-align: right;
}
[dir=rtl] .tp-woo-cart-checkout table.shop_table.shop_table_responsive tbody tr.woocommerce-shipping-totals.shipping td {
  text-align: right;
}
[dir=rtl] .tp-woo-cart-table table thead tr th {
  text-align: right;
  padding-left: 12px;
  padding-right: 0;
}
[dir=rtl] .tp-woo-cart-table table tbody tr td {
  text-align: right;
  padding-left: 12px;
  padding-right: 0;
}
[dir=rtl] .tp-woo-cart-table .tp-product-details-quantity {
  margin-right: 0;
}
[dir=rtl] .tp-woo-cart-table table thead tr th.product-name {
  padding-left: 0;
  padding-right: 30px;
}
[dir=rtl] .tp-woo-checkout-order-details .wc_payment_methods .wc_payment_method label {
  padding-right: 27px;
  padding-left: 0;
}
[dir=rtl] .tp-woo-checkout-order-details .wc_payment_methods .wc_payment_method label::after {
  right: 0;
  left: auto;
}
[dir=rtl] .tp-woo-checkout-order-details .wc_payment_methods .wc_payment_method label::before {
  right: 3px;
  left: auto;
}
[dir=rtl] .tp-woo-checkout-order-details .wc_payment_methods .wc_payment_method .payment_box::after {
  right: 3px;
  left: auto;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table thead tr th {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table thead tr th.product-total {
  text-align: left;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table tbody tr td {
  text-align: right;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table tbody tr td:not(.product-name) {
  text-align: left;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table tfoot tr th {
  text-align: right;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table tfoot tr td {
  text-align: left;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table tfoot tr th {
  text-align: right;
}
[dir=rtl] .tp-woo-checkout-order-details table.shop_table tfoot tr td {
  text-align: left;
}
[dir=rtl] .tp-order-bg {
  left: auto;
  right: 0;
}
[dir=rtl] .tp-woo-form-login .woocommerce-form.woocommerce-form-login.login .lost_password {
  right: auto;
  left: 0;
}
[dir=rtl] .tp-woo-checkout-wrapper .woocommerce-account-fields .create-account label, [dir=rtl] .tp-woo-form-login .woocommerce-form.woocommerce-form-login.login .form-row:not(.form-row-first, .form-row-last) label {
  padding-right: 26px;
  padding-left: 0;
}
[dir=rtl] .tp-woo-checkout-wrapper .woocommerce-account-fields .create-account label span::after, [dir=rtl] .tp-woo-form-login .woocommerce-form.woocommerce-form-login.login .form-row:not(.form-row-first, .form-row-last) label span::after, [dir=rtl] .tp-woo-checkout-wrapper .woocommerce-account-fields .create-account label span::before, [dir=rtl] .tp-woo-form-login .woocommerce-form.woocommerce-form-login.login .form-row:not(.form-row-first, .form-row-last) label span::before {
  right: 0;
  left: auto;
}

/*# sourceMappingURL=shofy-rtl.css.map */
